:root {
	--background: floralwhite;
	--text-primary: rgb(31, 27, 36);
	--text-faded: #a496ad;
	--accent: hsl(33, 69%, 54%);
	--soft-accent: rgb(206, 143, 67);
	--link: hsl(0, 48%, 52%);
	--soft-link: rgb(179, 84, 84);
}

html {
	font-size: 62.5%;
}

body {
	height: fit-content;
	font-size: 1.6rem;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	color: var(--text-primary);
	background: var(--background) url('./path.png');
}

h1 {
	font-size: 4em;
}

a:link,
a:visited {
	color: var(--link);
}

a:link.secret,
a:visited.secret {
	color: var(--text-faded);
	text-decoration: none;
}

a:hover,
a:active {
	color: var(--accent);
	text-decoration: underline;
}

a:hover.secret,
a:active.secret {
	color: var(--accent);
	text-decoration: underline;
}

p {
	margin: 1rem 0;
}

.panel {
	width: 100%;
	text-align: left;
	font: inherit;
	padding: 0;
	border: 10px ridge var(--soft-link);
}

.block {
	margin-bottom: 1em;
	padding: 2em;
	background-color: var(--background);
	border: 10px ridge var(--text-faded);
}

.panel:enabled {
	border: 10px ridge var(--soft-link);
}

.panel:enabled:hover {
	transform: scale(1.01);
	border-color: var(--soft-accent);
	cursor: pointer;
}

.panel:disabled {
	color: var(--text-primary);
	border-color: var(--text-faded);
}

h2 {
	margin: 0;
}
